/.idea/*
!/.idea/codeStyles/
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/codeStyles/Project.xml
build/
cmake-build-debug/
/photos/

# (La)TeX
*.aux
*.pdf
*.log
*.out
*.bbl
*.blg
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
