/.idea/*
!/.idea/codeStyles/
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/codeStyles/Project.xml
build/
cmake-build-debug/
/photos/
exp/.idea/
__pycache__/
exp/database

# (La)TeX
*.aux
*.pdf
*.log
*.out
*.bbl
*.blg
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*/pictures/*.pdf
*/pictures/*.pdf_tex
*/pictures/RGB-*.png
